<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "format-detection" content = "telephone=no"/>

        <!-- Preloaded font for potential issues across browsers -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
rel="stylesheet">

        <!-- <link rel = "icon" href = "assets/favicon.ico"> -->
        <link rel = "stylesheet" href = "../static/account_styles.css"/>
        <!-- <script src = "script.js"></script> -->
        <title> Basic CRUD </title>
    </head>

    <body>
        <header>
            <div id = "body-head-con01" class = "container">
                <div id = "header_box" class = "header__box">
                    <h1 id = "header_title" class = "header__title"> Basic CRUD </h1>
                    <button id = "login_button" class = "login_"> Login </button>
                </div>
            </div>
        </header>

        <main>
            <div id = "body-form-con01" class = "container">
                <form action = "/submit" method = "post" id = "form_box" class = "form__box">
                    <div id = "form_header" class = "form__header">
                        <h2 id = "form_title" class = "form__title"> Supply Package Account Management </h2>

                        <div id = "about" class = "about">
                            <p id = "company" class = "company_"> Supply Chains Corp. </p>
                            <p id = "address" class = "address_"> 12345 Highway Drive </p>
                            <p id = "state" class = "state_"> Boston, Massachusetts </p>
                            <p id = "zip" class = "zip_"> 32948-9480 </p>
                            <p id = "phone" class = "phone_"> (234) 567-8901 </p>
                        </div>

                        <h3 id = "form_description"> You may login or create an account. </h3>
                    </div>

                    <div id = "login_options" class = "login__options">
                        <button id = "sign_in_button" class = "login_options_button"> Sign In </button>
                        <button id = "create_button" class = "login_options_button"> Create a Account </button>
                    </div>
                </form>
            </div>
        </main>

        <footer>
            <div id = "ft-foot-con01" class = "container">
                <div id = "footer" class = "footer_">
                    <div id = "credit" class = "credit_">
                        <p id = "copyright"> &#169 Supply Chain Corp. 2024 </p>
                        <a href = "https://github.com/MIKNSJ/basic-crud" target = "_blank" rel = "noopener noreferrer" id = "source">View Source</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
<html>

